openapi: 3.1.0
info:
  title: VidTempla API
  version: "1.0"
  description: |
    VidTempla is an API-first platform for managing YouTube video descriptions with templates, containers, and variables.
    The REST API lets AI agents securely manage YouTube channels without handling OAuth directly.

    ## Authentication
    All requests require a Bearer token in the Authorization header:
    ```
    Authorization: Bearer vtk_your_key_here
    ```
    API keys have one of two permission levels:
    - **read** — can only fetch data (GET requests and POST /analytics/query)
    - **read-write** — can also create, update, and delete resources

    Generate keys from the dashboard at Settings > API Keys.

    ## Response Envelope
    Every response uses a standard envelope:
    ```json
    { "data": { ... }, "error": null, "meta": { ... } }
    ```

    ## Pagination
    All list endpoints use cursor-based pagination. Default limit is 50, max is 100.
    ```
    GET /videos?cursor=...&limit=50
    ```
  contact:
    name: VidTempla
    url: https://vidtempla.com
  license:
    name: Proprietary

servers:
  - url: https://vidtempla.com/api/v1
    description: Production

security:
  - bearerAuth: []

tags:
  - name: Channels
    description: Manage connected YouTube channels
  - name: Videos
    description: Manage synced YouTube videos
  - name: Templates
    description: CRUD operations for description templates
  - name: Containers
    description: CRUD operations for template containers
  - name: YouTube Playlists
    description: Proxy endpoints for YouTube playlist management
  - name: YouTube Comments
    description: Proxy endpoints for YouTube comment management
  - name: YouTube Thumbnails
    description: Proxy endpoint for thumbnail uploads
  - name: Analytics
    description: Flexible YouTube Analytics queries
  - name: Usage
    description: API request tracking and quota monitoring

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "API key starting with vtk_. Generate from Settings > API Keys."

  schemas:
    ErrorResponse:
      type: object
      properties:
        data:
          type: "null"
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable error message
            suggestion:
              type: string
              description: Actionable suggestion for agents to self-correct
            status:
              type: integer
              description: HTTP status code
            meta:
              type: object
              additionalProperties: true
              description: Optional machine-readable context about the error
          required: [code, message, status]
      required: [data, error]

    PaginationMeta:
      type: object
      properties:
        cursor:
          type: string
          nullable: true
          description: Opaque cursor for the next page. Null on last page.
        hasMore:
          type: boolean
          description: Whether more results exist beyond this page
        total:
          type: integer
          description: Total count of matching records

    SuccessMessage:
      type: object
      properties:
        data:
          type: object
          properties:
            success:
              type: boolean
              example: true
        error:
          type: "null"

    Channel:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
        channelId:
          type: string
          description: YouTube channel ID
          example: "UCxxxxxxxxxxxxxxxxxxxxxx"
        title:
          type: string
          nullable: true
          example: "My YouTube Channel"
        thumbnailUrl:
          type: string
          nullable: true
        subscriberCount:
          type: integer
          nullable: true
          example: 15000
        syncStatus:
          type: string
          enum: [idle, syncing]
          example: "idle"
        lastSyncedAt:
          type: string
          format: date-time
          nullable: true

    Video:
      type: object
      properties:
        id:
          type: string
          format: uuid
        channelId:
          type: string
          format: uuid
        videoId:
          type: string
          description: YouTube video ID
        title:
          type: string
          nullable: true
        currentDescription:
          type: string
          nullable: true
        containerId:
          type: string
          format: uuid
          nullable: true
        publishedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        channel:
          type: object
          properties:
            id:
              type: string
              format: uuid
            channelId:
              type: string
            title:
              type: string
              nullable: true
        container:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string

    Template:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        name:
          type: string
          example: "Video Links Section"
        content:
          type: string
          example: "Check out my website: {{websiteUrl}}\nFollow me on Twitter: {{twitterHandle}}"
        variables:
          type: array
          items:
            type: string
          description: "Parsed variable names extracted from {{variableName}} placeholders in content"
          example: ["websiteUrl", "twitterHandle"]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Container:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        name:
          type: string
          example: "Gaming Videos Layout"
        separator:
          type: string
          description: "Text inserted between each template when building the final description"
          example: "\n\n"
        templateOrder:
          type: array
          nullable: true
          items:
            type: string
            format: uuid
          description: "Ordered list of template UUIDs that compose this container's description layout"
        videoCount:
          type: integer
          description: "Number of videos currently assigned to this container"
          example: 12
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    VideoVariable:
      type: object
      properties:
        id:
          type: string
          format: uuid
        videoId:
          type: string
          format: uuid
        templateId:
          type: string
          format: uuid
        variableName:
          type: string
          example: "websiteUrl"
          description: "Variable name (without {{ }} braces) as defined in the template"
        variableValue:
          type: string
          nullable: true
          example: "https://example.com"
          description: "Current value for this variable on this specific video"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        template:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string

    RetentionPoint:
      type: object
      description: A single point on the 100-point audience retention curve from YouTube Analytics (elapsedVideoTimeRatio report).
      properties:
        position:
          type: number
          description: "Elapsed video time ratio (0.01 to 1.0 in 0.01 increments). Each step represents 1% of total video duration. For example, 0.50 = the halfway point of the video."
          minimum: 0.01
          maximum: 1.0
          example: 0.50
        watchRatio:
          type: number
          description: "Absolute watch ratio — the fraction of viewers still watching at this position (0.0 to 1.0). A value of 0.75 means 75% of viewers who started the video are still watching at this point."
          minimum: 0.0
          maximum: 1.0
          example: 0.75
        relativePerformance:
          type: number
          description: "How this video's retention compares to YouTube videos of similar length. 1.0 = average, >1.0 = above average, <1.0 = below average."
          example: 1.12

    UsageData:
      type: object
      properties:
        daily:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              requestCount:
                type: integer
              quotaUnits:
                type: integer
        totals:
          type: object
          properties:
            requests:
              type: integer
            quotaUnits:
              type: integer
        periodStart:
          type: string
          format: date-time
        periodEnd:
          type: string
          format: date-time

  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            data: null
            error:
              code: INVALID_API_KEY
              message: API key not found or has been revoked
              suggestion: Generate a new key from Settings > API Keys
              status: 401

    InsufficientPermissions:
      description: API key lacks write permission
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            data: null
            error:
              code: INSUFFICIENT_PERMISSIONS
              message: This API key has read-only access
              suggestion: Create a new API key with read-write permission from Settings > API Keys
              status: 403

    AdminRoleRequired:
      description: |
        Refused for one of two reasons: the API key is read-only, or the key's
        owner is not an owner or admin of the organization. This operation is
        destructive, and every surface — dashboard, MCP and REST — requires the
        admin role for it. Nothing was changed, and no credits were spent.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          examples:
            readOnlyKey:
              summary: The API key cannot write
              value:
                data: null
                error:
                  code: INSUFFICIENT_PERMISSIONS
                  message: This API key has read-only access
                  suggestion: Create a new API key with read-write permission from Settings > API Keys
                  status: 403
            memberRole:
              summary: The key's owner is not an admin
              value:
                data: null
                error:
                  code: FORBIDDEN_ROLE
                  message: This operation requires the owner or admin role in this organization
                  suggestion: "This API key belongs to a 'member'. Ask an organization owner or admin to run it, or to raise the key owner's role."
                  status: 403

    QuotaExceeded:
      description: YouTube API quota or rate limit exceeded
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            data: null
            error:
              code: QUOTA_EXCEEDED
              message: YouTube API quota exhausted
              suggestion: Retry with backoff. If daily quota is exhausted, wait for the Pacific midnight reset or contact support.
              status: 429
              meta:
                upstreamStatus: 403
                reasons: [quotaExceeded]

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            data: null
            error:
              code: INTERNAL_ERROR
              message: An unexpected error occurred
              suggestion: Try again later
              status: 500

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

paths:
  # ─── Channels ───────────────────────────────────────────────

  /channels:
    get:
      operationId: listChannels
      summary: List connected YouTube channels
      description: Returns all YouTube channels connected to your account. No YouTube API quota consumed.
      tags: [Channels]
      x-quota-cost: 0
      responses:
        "200":
          description: List of channels
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Channel"
                  error:
                    type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /channels/{channelId}:
    get:
      operationId: getChannelDetails
      summary: Get channel details from YouTube
      description: Fetches real-time channel details (statistics, branding, etc.) directly from the YouTube Data API.
      tags: [Channels]
      x-quota-cost: 1
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: YouTube channel ID (e.g. UCxxxxxx)
      responses:
        "200":
          description: Channel details from YouTube
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: YouTube channel resource (snippet, statistics, brandingSettings)
                  error:
                    type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /channels/{channelId}/overview:
    get:
      operationId: getChannelOverview
      summary: Get channel overview with templates, containers, and video stats
      description: |
        Returns a comprehensive overview combining real-time YouTube data with VidTempla metadata:
        channel details, template list, container list, and video assignment statistics.
      tags: [Channels]
      x-quota-cost: 3
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: YouTube channel ID
      responses:
        "200":
          description: Channel overview
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      channel:
                        type: object
                        description: YouTube channel resource
                      templates:
                        type: object
                        properties:
                          count:
                            type: integer
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                name:
                                  type: string
                                variableCount:
                                  type: integer
                      containers:
                        type: object
                        properties:
                          count:
                            type: integer
                          items:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                name:
                                  type: string
                                videoCount:
                                  type: integer
                      videos:
                        type: object
                        properties:
                          total:
                            type: integer
                          assigned:
                            type: integer
                          unassigned:
                            type: integer
                      descriptionHealth:
                        type: object
                        properties:
                          withContainer:
                            type: integer
                          withoutContainer:
                            type: integer
                          lastSyncedAt:
                            type: string
                            format: date-time
                            nullable: true
                          syncStatus:
                            type: string
                  error:
                    type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /channels/{channelId}/sync:
    post:
      operationId: triggerChannelSync
      summary: Trigger video sync for a channel
      description: Starts a background job to sync all videos from the YouTube channel into VidTempla. Returns 202 if the sync was started, 409 if a sync is already in progress.
      tags: [Channels]
      x-quota-cost: 0
      x-requires-write: true
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: YouTube channel ID
      responses:
        "202":
          description: Sync started
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: Video sync started
                      jobId:
                        type: string
                  error:
                    type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermissions"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Sync already in progress
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                data: null
                error:
                  code: SYNC_IN_PROGRESS
                  message: A sync is already in progress for this channel
                  suggestion: Wait for the current sync to complete before starting another
                  status: 409
        "500":
          $ref: "#/components/responses/InternalError"

  /channels/{channelId}/analytics:
    get:
      operationId: getChannelAnalytics
      summary: Get channel analytics
      description: Fetches analytics data from the YouTube Analytics API for this channel. Defaults to last 28 days with daily views and watch time.
      tags: [Channels]
      x-quota-cost: 0
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: YouTube channel ID
        - name: startDate
          in: query
          schema:
            type: string
            format: date
          description: Start date (YYYY-MM-DD). Defaults to 28 days ago.
        - name: endDate
          in: query
          schema:
            type: string
            format: date
          description: End date (YYYY-MM-DD). Defaults to today.
        - name: metrics
          in: query
          schema:
            type: string
            default: "views,estimatedMinutesWatched"
          description: Comma-separated YouTube Analytics metrics
        - name: dimensions
          in: query
          schema:
            type: string
            default: day
          description: YouTube Analytics dimension (e.g. day, month, country)
      responses:
        "200":
          description: Analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: YouTube Analytics API response
                  error:
                    type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /channels/{channelId}/search:
    get:
      operationId: searchMyVideos
      summary: Search your own channel's videos on YouTube
      description: Searches the channel's own videos (forMine=true) using the YouTube search.list API. Costs 100 quota units per call.
      tags: [Channels]
      x-quota-cost: 100
      parameters:
        - name: channelId
          in: path
          required: true
          schema:
            type: string
          description: YouTube channel ID
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search query
        - name: sort
          in: query
          schema:
            type: string
            default: relevance
            enum: [relevance, date, viewCount, rating]
          description: Sort order
        - name: maxResults
          in: query
          schema:
            type: integer
            default: 25
            maximum: 50
          description: Maximum number of results (max 50)
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: YouTube search.list response
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      quotaCost:
                        type: integer
                        example: 100
                      note:
                        type: string
        "400":
          description: Missing search query
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/QuotaExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  # ─── Videos ─────────────────────────────────────────────────

  /videos:
    get:
      operationId: listVideos
      summary: List videos with pagination
      description: Returns synced YouTube videos with filtering, sorting, and cursor-based pagination.
      tags: [Videos]
      x-quota-cost: 0
      parameters:
        - name: channelId
          in: query
          schema:
            type: string
          description: Filter by YouTube channel ID
        - name: containerId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by container ID
        - name: search
          in: query
          schema:
            type: string
          description: Search by video title (case-insensitive)
        - name: unassigned
          in: query
          schema:
            type: string
            enum: ["true", "false"]
          description: Filter to only unassigned videos
        - name: sort
          in: query
          schema:
            type: string
            default: "publishedAt:desc"
          description: "Sort field and direction (e.g. publishedAt:desc, title:asc)"
        - name: cursor
          in: query
          schema:
            type: string
          description: Pagination cursor (ISO 8601 timestamp from previous response)
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Number of results per page (max 100)
      responses:
        "200":
          description: Paginated list of videos
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Video"
                  error:
                    type: "null"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /videos/{id}:
    get:
      operationId: getVideoDetails
      summary: Get video details
      description: Returns VidTempla metadata for a video, enriched with real-time YouTube statistics when available.
      tags: [Videos]
      x-quota-cost: 0
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: VidTempla UUID or YouTube video ID (e.g. `dQw4w9WgXcQ`)
          examples:
            uuid:
              summary: VidTempla internal UUID
              value: "296bbf0c-2fc2-47bc-8ab9-a2072245528a"
            youtubeId:
              summary: YouTube video ID
              value: "dQw4w9WgXcQ"
      responses:
        "200":
          description: Video details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: "#/components/schemas/Video"
                      - type: object
                        properties:
                          youtube:
                            type: object
                            nullable: true
                            description: Real-time YouTube video resource (snippet, statistics, contentDetails)
                  error:
                    type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /videos/{id}/analytics:
    get:
      operationId: getVideoAnalytics
      summary: Get video analytics
      description: Fetches analytics data from the YouTube Analytics API for a specific video. Defaults to last 28 days.
      tags: [Videos]
      x-quota-cost: 0
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: VidTempla UUID or YouTube video ID (e.g. `dQw4w9WgXcQ`)
        - name: startDate
          in: query
          schema:
            type: string
            format: date
          description: Start date (YYYY-MM-DD). Defaults to 28 days ago.
        - name: endDate
          in: query
          schema:
            type: string
            format: date
          description: End date (YYYY-MM-DD). Defaults to today.
        - name: metrics
          in: query
          schema:
            type: string
            default: "views,estimatedMinutesWatched,averageViewDuration"
          description: Comma-separated YouTube Analytics metrics
        - name: dimensions
          in: query
          schema:
            type: string
            default: day
          description: YouTube Analytics dimension
      responses:
        "200":
          description: Analytics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: YouTube Analytics API response
                  error:
                    type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /videos/{id}/retention:
    get:
      operationId: getVideoRetention
      summary: Get audience retention data
      description: |
        Returns a 100-point audience retention curve from the YouTube Analytics API.
        Each point represents 1% of the video's duration (position 0.01 = 1%, position 1.0 = 100%).
        Useful for understanding where viewers drop off and identifying engaging or weak segments.
      tags: [Videos]
      x-quota-cost: 0
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: VidTempla UUID or YouTube video ID (e.g. `dQw4w9WgXcQ`)
      responses:
        "200":
          description: Retention curve
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RetentionPoint"
                  error:
                    type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /videos/{id}/assign:
    post:
      operationId: assignVideoToContainer
      summary: Assign video to a container
      description: Assigns an unassigned video to a container and initializes template variables. Returns 400 if the video is already assigned.
      tags: [Videos]
      x-quota-cost: 0
      x-requires-write: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: VidTempla UUID or YouTube video ID (e.g. `dQw4w9WgXcQ`)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [containerId]
              properties:
                containerId:
                  type: string
                  format: uuid
                  description: The container to assign the video to
            example:
              containerId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
      responses:
        "200":
          description: Video assigned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
        "400":
          description: Missing containerId or video already assigned
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Insufficient permissions or video limit reached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /videos/{id}/variables:
    get:
      operationId: listVideoVariables
      summary: List video variables
      description: Returns all template variables for a video, including which template each variable belongs to.
      tags: [Videos]
      x-quota-cost: 0
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: VidTempla UUID or YouTube video ID (e.g. `dQw4w9WgXcQ`)
      responses:
        "200":
          description: List of variables
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/VideoVariable"
                  error:
                    type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    put:
      operationId: updateVideoVariables
      summary: Update video variables
      description: Upserts template variables for a video and triggers a description rebuild job.
      tags: [Videos]
      x-quota-cost: 0
      x-requires-write: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: VidTempla UUID or YouTube video ID (e.g. `dQw4w9WgXcQ`)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [variables]
              properties:
                variables:
                  type: array
                  items:
                    type: object
                    required: [templateId, name, value]
                    properties:
                      templateId:
                        type: string
                        format: uuid
                      name:
                        type: string
                        description: Variable name (without {{ }} braces)
                      value:
                        type: string
                        description: Variable value
            example:
              variables:
                - templateId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  name: "websiteUrl"
                  value: "https://example.com"
                - templateId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  name: "twitterHandle"
                  value: "@mychannel"
      responses:
        "200":
          description: Variables updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
        "400":
          description: Invalid request body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermissions"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /videos/{id}/history:
    get:
      operationId: getDescriptionHistory
      summary: Get description history
      description: Returns saved description versions for a video, newest first.
      tags: [Videos]
      x-quota-cost: 0
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer }
      responses:
        "200": { description: Description history }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /videos/{id}/check-drift:
    post:
      operationId: checkVideoDrift
      summary: Check description drift
      description: Compares the live YouTube description with VidTempla's stored description.
      tags: [Videos]
      x-quota-cost: 1
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200": { description: Drift result }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  /videos/{id}/resolve-drift:
    post:
      operationId: resolveVideoDrift
      summary: Resolve description drift
      description: Keeps a YouTube edit, reapplies the container template, or restores a history version.
      tags: [Videos]
      x-quota-cost: 0
      x-requires-write: true
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [strategy]
              properties:
                strategy:
                  type: string
                  enum: [keep_youtube_edit, reapply_template, revert_to_version]
                historyId: { type: string, format: uuid }
      responses:
        "200": { description: Drift resolved }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/InsufficientPermissions" }
        "404": { $ref: "#/components/responses/NotFound" }

  /videos/{id}/history/{historyId}/revert:
    post:
      operationId: revertDescription
      summary: Revert a description version
      description: Restores a saved description version and pushes it to YouTube.
      tags: [Videos]
      x-quota-cost: 0
      x-requires-write: true
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: historyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200": { description: Description reverted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminRoleRequired" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ─── Templates ──────────────────────────────────────────────

  /templates:
    get:
      operationId: listTemplates
      summary: List templates
      description: Returns description templates with parsed variable names and cursor-based pagination.
      tags: [Templates]
      x-quota-cost: 0
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
          description: Pagination cursor (ISO 8601 timestamp)
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Number of results per page (max 100)
      responses:
        "200":
          description: Paginated list of templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Template"
                  error:
                    type: "null"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createTemplate
      summary: Create a template
      description: Creates a new description template. Use {{variableName}} syntax for variables.
      tags: [Templates]
      x-quota-cost: 0
      x-requires-write: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, content]
              properties:
                name:
                  type: string
                  description: Template name
                content:
                  type: string
                  description: "Template content with {{variable}} placeholders"
            example:
              name: "Social Links"
              content: "Follow me on Twitter: {{twitterHandle}}\nWebsite: {{websiteUrl}}"
      responses:
        "201":
          description: Template created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Template"
                  error:
                    type: "null"
        "400":
          description: Missing or invalid name/content
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermissions"
        "500":
          $ref: "#/components/responses/InternalError"

  /templates/{id}:
    get:
      operationId: getTemplate
      summary: Get template details
      description: Returns a single template with parsed variable names.
      tags: [Templates]
      x-quota-cost: 0
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Template UUID
      responses:
        "200":
          description: Template details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Template"
                  error:
                    type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    patch:
      operationId: updateTemplate
      summary: Update a template
      description: Updates a template's name and/or content. If content changes, triggers a description rebuild for all affected videos.
      tags: [Templates]
      x-quota-cost: 0
      x-requires-write: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Template UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                content:
                  type: string
              description: At least one field (name or content) must be provided
      responses:
        "200":
          description: Template updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Template"
                  error:
                    type: "null"
        "400":
          description: Empty update
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermissions"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteTemplate
      summary: Delete a template
      description: Permanently deletes a template. Associated video variables are cascade-deleted.
      tags: [Templates]
      x-quota-cost: 0
      x-requires-write: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Template UUID
      responses:
        "200":
          description: Template deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/AdminRoleRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /templates/{id}/impact:
    get:
      operationId: getTemplateImpact
      summary: Template impact analysis
      description: Returns which containers use this template and which videos would be affected by changes to it.
      tags: [Templates]
      x-quota-cost: 0
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Template UUID
      responses:
        "200":
          description: Impact analysis
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      containers:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                            videoCount:
                              type: integer
                      videos:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            title:
                              type: string
                              nullable: true
                            videoId:
                              type: string
                            containerId:
                              type: string
                              format: uuid
                              nullable: true
                      count:
                        type: integer
                        description: Total number of affected videos
                  error:
                    type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ─── Containers ─────────────────────────────────────────────

  /containers:
    get:
      operationId: listContainers
      summary: List containers
      description: Returns containers with video counts and cursor-based pagination.
      tags: [Containers]
      x-quota-cost: 0
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
          description: Pagination cursor (ISO 8601 timestamp)
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Number of results per page (max 100)
      responses:
        "200":
          description: Paginated list of containers
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Container"
                  error:
                    type: "null"
                  meta:
                    $ref: "#/components/schemas/PaginationMeta"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createContainer
      summary: Create a container
      description: Creates a new container that groups templates in a specific order with a separator.
      tags: [Containers]
      x-quota-cost: 0
      x-requires-write: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, templateIds]
              properties:
                name:
                  type: string
                  description: Container name
                templateIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Ordered list of template UUIDs
                separator:
                  type: string
                  default: "\n\n"
                  description: Text separator between templates
            example:
              name: "Gaming Videos Layout"
              templateIds:
                [
                  "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                ]
              separator: "\n\n---\n\n"
      responses:
        "201":
          description: Container created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Container"
                  error:
                    type: "null"
        "400":
          description: Missing or invalid name/templateIds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermissions"
        "500":
          $ref: "#/components/responses/InternalError"

  /containers/{id}:
    get:
      operationId: getContainer
      summary: Get container details with templates
      description: Returns a container with its ordered templates and video count.
      tags: [Containers]
      x-quota-cost: 0
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Container UUID
      responses:
        "200":
          description: Container details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: "#/components/schemas/Container"
                      - type: object
                        properties:
                          templates:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                name:
                                  type: string
                                content:
                                  type: string
                  error:
                    type: "null"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    patch:
      operationId: updateContainer
      summary: Update a container
      description: Updates container name, template order, or separator. If templateIds or separator change, triggers a description rebuild for all assigned videos.
      tags: [Containers]
      x-quota-cost: 0
      x-requires-write: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Container UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                templateIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                separator:
                  type: string
              description: At least one field must be provided
      responses:
        "200":
          description: Container updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Container"
                  error:
                    type: "null"
        "400":
          description: Empty update
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermissions"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteContainer
      summary: Delete a container
      description: Permanently deletes a container. Videos assigned to this container become unassigned.
      tags: [Containers]
      x-quota-cost: 0
      x-requires-write: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Container UUID
      responses:
        "200":
          description: Container deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessMessage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/AdminRoleRequired"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # ─── YouTube Search (Public) ────────────────────────────────

  /youtube/search:
    get:
      operationId: searchYouTube
      summary: Search all of YouTube
      description: Public YouTube search (not channel-scoped). Requires a channelId for OAuth authentication. Costs 100 quota units per call.
      tags: [YouTube Management]
      x-quota-cost: 100
      parameters:
        - name: channelId
          in: query
          required: true
          schema:
            type: string
          description: Your YouTube channel ID (used for OAuth authentication)
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Search query
        - name: type
          in: query
          schema:
            type: string
            default: video
            enum: [video, channel, playlist]
          description: Resource type to search for
        - name: sort
          in: query
          schema:
            type: string
            default: relevance
            enum: [relevance, date, viewCount, rating]
          description: Sort order
        - name: maxResults
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
          description: Maximum number of results (max 50)
        - name: pageToken
          in: query
          schema:
            type: string
          description: Page token for pagination
        - name: filterChannelId
          in: query
          schema:
            type: string
          description: Filter results to a specific channel ID
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: YouTube search.list response
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      quotaCost:
                        type: integer
                        example: 100
                      note:
                        type: string
        "400":
          description: Missing required parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/QuotaExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  # ─── YouTube Playlists ──────────────────────────────────────

  /youtube/playlists:
    get:
      operationId: listPlaylists
      summary: List YouTube playlists
      description: Lists playlists for a channel via the YouTube Data API.
      tags: [YouTube Playlists]
      x-quota-cost: 1
      parameters:
        - name: channelId
          in: query
          required: true
          schema:
            type: string
          description: YouTube channel ID
        - name: pageToken
          in: query
          schema:
            type: string
          description: YouTube pagination token
        - name: maxResults
          in: query
          schema:
            type: integer
            default: 25
            maximum: 50
          description: Max results per page (max 50)
      responses:
        "200":
          description: List of playlists
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      description: YouTube playlist resource
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      quotaUnits:
                        type: integer
                        example: 1
                      pageInfo:
                        type: object
                      nextPageToken:
                        type: string
                        nullable: true
        "400":
          description: Missing channelId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/QuotaExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createPlaylist
      summary: Create a YouTube playlist
      description: Creates a new playlist on YouTube.
      tags: [YouTube Playlists]
      x-quota-cost: 50
      x-requires-write: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [channelId, title]
              properties:
                channelId:
                  type: string
                  description: YouTube channel ID
                title:
                  type: string
                  description: Playlist title
                description:
                  type: string
                  description: Playlist description
                privacyStatus:
                  type: string
                  enum: [public, private, unlisted]
                  default: private
                  description: Playlist privacy status
            example:
              channelId: "UCxxxxxxxxxxxxxxxxxxxxxx"
              title: "Best of 2025"
              description: "A curated collection of our top videos from 2025"
              privacyStatus: "private"
      responses:
        "200":
          description: Playlist created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: YouTube playlist resource
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      quotaUnits:
                        type: integer
                        example: 50
        "400":
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermissions"
        "429":
          $ref: "#/components/responses/QuotaExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  /youtube/playlists/{id}:
    get:
      operationId: getPlaylist
      summary: Get YouTube playlist details
      description: Fetches details for a specific playlist from the YouTube Data API.
      tags: [YouTube Playlists]
      x-quota-cost: 1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: YouTube playlist ID
        - name: channelId
          in: query
          required: true
          schema:
            type: string
          description: YouTube channel ID (for auth)
      responses:
        "200":
          description: Playlist details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: YouTube playlist resource
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      quotaUnits:
                        type: integer
                        example: 1
        "400":
          description: Missing channelId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/QuotaExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

    patch:
      operationId: updatePlaylist
      summary: Update a YouTube playlist
      description: Updates playlist title, description, or privacy status on YouTube.
      tags: [YouTube Playlists]
      x-quota-cost: 50
      x-requires-write: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: YouTube playlist ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [channelId]
              properties:
                channelId:
                  type: string
                  description: YouTube channel ID
                title:
                  type: string
                description:
                  type: string
                privacyStatus:
                  type: string
                  enum: [public, private, unlisted]
      responses:
        "200":
          description: Playlist updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: YouTube playlist resource
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      quotaUnits:
                        type: integer
                        example: 50
        "400":
          description: Missing channelId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermissions"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/QuotaExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deletePlaylist
      summary: Delete a YouTube playlist
      description: Permanently deletes a playlist from YouTube.
      tags: [YouTube Playlists]
      x-quota-cost: 50
      x-requires-write: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: YouTube playlist ID
        - name: channelId
          in: query
          required: true
          schema:
            type: string
          description: YouTube channel ID (for auth)
      responses:
        "200":
          description: Playlist deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                        example: true
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      quotaUnits:
                        type: integer
                        example: 50
        "400":
          description: Missing channelId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/AdminRoleRequired"
        "429":
          $ref: "#/components/responses/QuotaExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  /youtube/playlists/{id}/items:
    get:
      operationId: listPlaylistItems
      summary: List playlist items
      description: Lists videos in a YouTube playlist.
      tags: [YouTube Playlists]
      x-quota-cost: 1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: YouTube playlist ID
        - name: channelId
          in: query
          required: true
          schema:
            type: string
          description: YouTube channel ID (for auth)
        - name: pageToken
          in: query
          schema:
            type: string
          description: YouTube pagination token
        - name: maxResults
          in: query
          schema:
            type: integer
            default: 25
            maximum: 50
          description: Max results per page (max 50)
      responses:
        "200":
          description: List of playlist items
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      description: YouTube playlistItem resource
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      quotaUnits:
                        type: integer
                        example: 1
                      pageInfo:
                        type: object
                      nextPageToken:
                        type: string
                        nullable: true
        "400":
          description: Missing channelId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/QuotaExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: addPlaylistItem
      summary: Add video to a playlist
      description: Adds a video to a YouTube playlist.
      tags: [YouTube Playlists]
      x-quota-cost: 50
      x-requires-write: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: YouTube playlist ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [channelId, videoId]
              properties:
                channelId:
                  type: string
                  description: YouTube channel ID
                videoId:
                  type: string
                  description: YouTube video ID to add
      responses:
        "200":
          description: Video added to playlist
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: YouTube playlistItem resource
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      quotaUnits:
                        type: integer
                        example: 50
        "400":
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermissions"
        "429":
          $ref: "#/components/responses/QuotaExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  /youtube/playlists/{id}/items/{itemId}:
    delete:
      operationId: removePlaylistItem
      summary: Remove item from a playlist
      description: Removes a specific item from a YouTube playlist.
      tags: [YouTube Playlists]
      x-quota-cost: 50
      x-requires-write: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: YouTube playlist ID
        - name: itemId
          in: path
          required: true
          schema:
            type: string
          description: YouTube playlistItem ID
        - name: channelId
          in: query
          required: true
          schema:
            type: string
          description: YouTube channel ID (for auth)
      responses:
        "200":
          description: Item removed from playlist
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                        example: true
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      quotaUnits:
                        type: integer
                        example: 50
        "400":
          description: Missing channelId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/AdminRoleRequired"
        "429":
          $ref: "#/components/responses/QuotaExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  # ─── YouTube Comments ───────────────────────────────────────

  /youtube/comments:
    get:
      operationId: searchChannelComments
      summary: Search a channel's comments
      description: |
        Searches every comment thread related to a channel, narrowed by `searchTerms`
        when given. This is the discovery step of a link sweep: search for the old URL,
        review the matches, then send the comment IDs to `POST /youtube/comments/bulk-update`.

        VidTempla stores no comment state, so every call re-reads YouTube live.
      tags: [YouTube Comments]
      x-quota-cost: 1
      parameters:
        - name: channelId
          in: query
          required: true
          schema:
            type: string
          description: YouTube channel ID (UC...) of a connected channel
        - name: searchTerms
          in: query
          schema:
            type: string
          description: Return only threads whose text matches these terms, such as the URL being replaced
        - name: maxResults
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Max results per page (max 100)
        - name: order
          in: query
          schema:
            type: string
            enum: [relevance, time]
            default: relevance
          description: Sort order (relevance for top comments, time for newest)
        - name: cursor
          in: query
          schema:
            type: string
          description: Pagination token from the previous page's meta.cursor
      responses:
        "200":
          description: Matching comment threads
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      description: YouTube commentThread resource
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      cursor:
                        type: string
                        nullable: true
                        description: Pass as ?cursor= for the next page. Null on the last page.
                      hasMore:
                        type: boolean
                      total:
                        type: integer
                        nullable: true
                        description: Always null. YouTube reports no total for a comment search.
                      quotaUnits:
                        type: integer
                        example: 1
        "400":
          description: Missing channelId, invalid parameters, or a channelId that is not a UC... ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/QuotaExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  /youtube/comments/{id}:
    get:
      operationId: listComments
      summary: List video comments
      description: Lists comment threads for a YouTube video. The `{id}` is a YouTube video ID.
      tags: [YouTube Comments]
      x-quota-cost: 1
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: YouTube video ID (for listing comments) or YouTube comment ID (for deletion)
        - name: channelId
          in: query
          required: true
          schema:
            type: string
          description: YouTube channel ID (for auth)
        - name: maxResults
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
          description: Max results per page (max 100)
        - name: order
          in: query
          schema:
            type: string
            enum: [relevance, time]
            default: relevance
          description: Sort order (relevance for top comments, time for newest)
        - name: cursor
          in: query
          schema:
            type: string
          description: Pagination token from the previous page's meta.cursor
        - name: pageToken
          in: query
          schema:
            type: string
          description: Alias of cursor, kept for backwards compatibility
      responses:
        "200":
          description: List of comment threads
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      description: YouTube commentThread resource
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      cursor:
                        type: string
                        nullable: true
                        description: Pass as ?cursor= for the next page. Null on the last page.
                      hasMore:
                        type: boolean
                      total:
                        type: integer
                        nullable: true
                        description: Always null. YouTube reports no total for a comment listing.
                      quotaUnits:
                        type: integer
                        example: 1
        "400":
          description: Missing channelId or invalid order parameter
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/QuotaExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteComment
      summary: Delete a comment
      description: |
        Deletes a YouTube comment permanently. The `{id}` is a YouTube comment ID.

        The comment's text is snapshotted to the edit log before the delete, because
        YouTube keeps no comment history and a deleted comment cannot be re-found —
        that row is the only surviving copy. Read it back with `GET /youtube/comments/edits`.
        For a comment the acting channel did not write, YouTube returns only the
        HTML-marked-up `textDisplay`, so the snapshot is an audit record, not a
        restorable copy.
      tags: [YouTube Comments]
      x-quota-cost: 51
      x-requires-write: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: YouTube comment ID
        - name: channelId
          in: query
          required: true
          schema:
            type: string
          description: YouTube channel ID (UC...) whose token signs the delete
        - name: videoId
          in: query
          schema:
            type: string
          description: Video the comment sits on, recorded on the edit-log row when known
      responses:
        "200":
          description: Comment deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                        example: true
                      editId:
                        type: string
                        format: uuid
                        description: Edit-log row holding the comment's text as it was before the delete
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      quotaUnits:
                        type: integer
                        example: 51
        "400":
          description: Missing channelId
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/AdminRoleRequired"
        "404":
          description: The comment or the channel was not found. Nothing was written to YouTube.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          $ref: "#/components/responses/QuotaExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  /youtube/comments/reply:
    post:
      operationId: replyToComment
      summary: Reply to a comment
      description: |
        Posts a reply to an existing YouTube comment. A reply is new content, so no
        edit-log row is written — only updates and deletes are snapshotted.
      tags: [YouTube Comments]
      x-quota-cost: 50
      x-requires-write: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [channelId, parentId, text]
              properties:
                channelId:
                  type: string
                  description: YouTube channel ID
                parentId:
                  type: string
                  description: The comment ID to reply to
                text:
                  type: string
                  description: Reply text
            example:
              channelId: "UCxxxxxxxxxxxxxxxxxxxxxx"
              parentId: "UgxAbCdEfGhIjKlMnOp"
              text: "Thanks for watching! Glad you enjoyed it."
      responses:
        "200":
          description: Reply posted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: YouTube comment resource
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      quotaUnits:
                        type: integer
                        example: 50
        "400":
          description: Missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/InsufficientPermissions"
        "429":
          $ref: "#/components/responses/QuotaExceeded"
        "500":
          $ref: "#/components/responses/InternalError"

  /youtube/comments/bulk-update:
    post:
      operationId: bulkUpdateComments
      summary: Rewrite up to 40 comments
      description: |
        Rewrites the text of up to 40 comments authored by one channel in a single call —
        the way to replace a link everywhere it appears. Find the comments first with
        `GET /youtube/comments?searchTerms=...`, then send the IDs you chose.

        Comments are edited in place. Delete-and-repost would unpin them and discard
        their likes and original timestamps, so it is never done.

        The batch runs in three phases. It first reconciles any rows left `pending` by an
        interrupted earlier batch for the same channel; then it snapshots and validates
        every item; then it writes. If any comment is missing or was not authored by
        `channelId`, the batch aborts and **nothing** is written to YouTube.

        Three conditions stop a batch mid-write. In each case earlier items stay applied,
        the failing item carries the reason, and the rest come back as `skipped` — never
        attempted and never billed. `halted` says which one it was, and the skipped IDs
        are what you resend to resume:

        - `quota` — the YouTube *daily* quota is exhausted. Terminal until the Pacific
          midnight reset, whose time is in `resetsAt`. The item's error is `QUOTA_EXCEEDED`.
        - `rateLimit` — a short-term YouTube throttle, not the daily quota. There is no
          `resetsAt`, because waiting about a minute is enough. The item's error is
          `RATE_LIMITED`.
        - `credits` — the workspace ran out of plan credits. Nothing to do with YouTube.
        - `timeBudget` — the batch ran out of wall clock and stopped itself rather than be
          killed mid-write. Resend the skipped IDs in a smaller batch.

        Split larger sweeps into batches of 40 and loop.
      tags: [YouTube Comments]
      x-quota-cost: 51
      x-requires-write: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [channelId, items]
              properties:
                channelId:
                  type: string
                  description: YouTube channel ID (UC...) that authored every comment in the batch
                items:
                  type: array
                  minItems: 1
                  maxItems: 40
                  items:
                    type: object
                    required: [id, text]
                    properties:
                      id:
                        type: string
                        description: YouTube comment ID
                      videoId:
                        type: string
                        description: Video the comment sits on, recorded on the edit-log row when known
                      text:
                        type: string
                        description: Replacement text for this comment
            example:
              channelId: "UCxxxxxxxxxxxxxxxxxxxxxx"
              items:
                - id: "UgxAbCdEfGhIjKlMnOp"
                  videoId: "dQw4w9WgXcQ"
                  text: "Course link updated: https://example.com/course"
      responses:
        "200":
          description: Batch finished. Inspect every item's status — some can have failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        description: One entry per submitted item, in the order sent
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            status:
                              type: string
                              enum: [ok, error, skipped]
                              description: skipped means the item was never attempted, after a halt — see `halted`
                            error:
                              type: object
                              properties:
                                code:
                                  type: string
                                message:
                                  type: string
                      reconciled:
                        type: object
                        description: Rows left pending by an interrupted earlier batch that this call resolved
                        properties:
                          scanned:
                            type: integer
                          applied:
                            type: integer
                          failed:
                            type: integer
                          unknown:
                            type: integer
                      halted:
                        type: string
                        enum: [quota, rateLimit, credits, timeBudget]
                        description: |
                          Present only when the batch stopped early. `quota` is YouTube daily
                          exhaustion, `rateLimit` a transient YouTube throttle that clears in
                          about a minute, `credits` the workspace's own plan balance running
                          out, `timeBudget` the batch running out of wall clock.
                      resetsAt:
                        type: string
                        format: date-time
                        description: Present only for a `quota` halt — daily exhaustion is the only reason with a reset
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      quotaUnits:
                        type: integer
                        description: 51 per item attempted, plus 1 per row reconciled
                        example: 102
        "400":
          description: Malformed body, more than 40 items, duplicate comment IDs, or a channelId that is not a UC... ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: |
            One of three: the API key is read-only; the key's owner is not an owner
            or admin of the organization (`FORBIDDEN_ROLE`), which this operation
            requires on every surface; or a comment was not authored by `channelId`
            (`AUTHORSHIP_MISMATCH`). In every case nothing was written to YouTube —
            on an authorship mismatch, drop that ID and send the batch again.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: A comment in the batch no longer exists (`SNAPSHOT_FAILED`). Nothing was written to YouTube.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: |
            Out of plan credits, or YouTube stopped the batch before any write landed —
            `QUOTA_EXCEEDED` for daily exhaustion (with `meta.resetsAt`), `RATE_LIMITED`
            for a transient throttle that clears in about a minute. Nothing was written
            to YouTube.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalError"
        "504":
          description: |
            `TIME_BUDGET_EXCEEDED` — YouTube was answering too slowly for the batch to
            finish, so it stopped before writing anything. Nothing was written to
            YouTube. Retry with fewer items.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /youtube/comments/edits:
    get:
      operationId: listCommentEdits
      summary: List the comment edit log
      description: |
        Returns every comment update and deletion made through VidTempla for this
        workspace, newest first. Each row holds the comment's text as it was before the
        write — the only surviving copy, because YouTube keeps no comment history.

        Only rows with `textSource: "original"` hold restorable text. A `"display"` row
        is the HTML-marked-up rendering of a third-party comment and is an audit record
        only. Restoring is a normal write at 51 units per comment, not a free rollback.

        `status` is `pending` while a write is in flight, then `applied` or `failed`.
        `failed` means the write provably never reached YouTube, so the comment still holds
        `beforeText`. A row left `pending` by an interrupted bulk update is resolved by the
        next bulk update for the same channel. `unknown` is terminal: nothing can establish
        what happened, either because the write's outcome was ambiguous on a path no
        reconciliation reaches, or because reconciliation ran and could not decide. A row
        never claims a write that may not have happened.

        No YouTube call, so no quota is consumed.
      tags: [YouTube Comments]
      x-quota-cost: 0
      parameters:
        - name: channelId
          in: query
          schema:
            type: string
          description: Only return rows written with this channel's token
        - name: commentId
          in: query
          schema:
            type: string
          description: Only return rows for this comment
        - name: cursor
          in: query
          schema:
            type: string
          description: Opaque cursor from the previous page's meta.cursor
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Rows per page (max 100)
      responses:
        "200":
          description: Edit-log rows, newest first
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        channelId:
                          type: string
                        commentId:
                          type: string
                        videoId:
                          type: string
                          nullable: true
                        verb:
                          type: string
                          enum: [update, delete]
                        textSource:
                          type: string
                          enum: [original, display]
                          description: original is restorable; display is an audit record only
                        beforeText:
                          type: string
                        afterText:
                          type: string
                          nullable: true
                          description: Null for a delete
                        status:
                          type: string
                          enum: [pending, applied, failed, unknown]
                        source:
                          type: string
                          enum: [mcp, rest, dashboard]
                        createdAt:
                          type: string
                          format: date-time
                  error:
                    type: "null"
                  meta:
                    allOf:
                      - $ref: "#/components/schemas/PaginationMeta"
                      - type: object
                        properties:
                          quotaUnits:
                            type: integer
                            example: 0
        "400":
          description: Invalid cursor or parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # ─── YouTube Thumbnails ─────────────────────────────────────

  /youtube/thumbnails/{videoId}:
    put:
      operationId: uploadThumbnail
      summary: Upload a custom thumbnail
      description: |
        Uploads a custom thumbnail for a YouTube video. Accepts either multipart/form-data
        (with field name "thumbnail") or raw image binary (Content-Type: image/*). Max size 2 MB.
      tags: [YouTube Thumbnails]
      x-quota-cost: 50
      x-requires-write: true
      parameters:
        - name: videoId
          in: path
          required: true
          schema:
            type: string
          description: YouTube video ID
        - name: channelId
          in: query
          required: true
          schema:
            type: string
          description: YouTube channel ID (for auth)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                thumbnail:
                  type: string
                  format: binary
                  description: Image file (JPEG or PNG, max 2 MB)
          image/png:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Thumbnail uploaded
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: YouTube thumbnail resource
                  error:
                    type: "null"
                  meta:
                    type: object
                    properties:
                      quotaUnits:
                        type: integer
                        example: 50
        "400":
          description: Missing channelId, invalid content type, or file too large
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
[...]
